.sidebar {
  width:40%;
  float: right;
  background-color: crimson;
  border: 2px solid white;
  padding: 9px;
  margin: 20px;
}
p1 {
  text-align: center;
  font-size: large;
  color: crimson;
  font-style: oblique;
}

p2 {
  text-align: center;
  font-size: large;
  color: crimson;
  font-style: oblique;
}
p3 {
  text-align: center;
  font-size: large;
  color: crimson;
  font-style: oblique;

}
h1 {
  color: white;
  text-align: center;
  font-style: italic;
}
